:root {
  --primary: #1a2ca3;
  --secondary: #0d1a63;
  --text: #fff7cd;
  --bg: #f68048;
  --light: #2845d6;
  --main-font: Arial, sans-serif;
}

body {
  height: 100%;
  width: 100%;
  font-family: var(--font-main);
  background: linear-gradient(180deg, var(--light), var(--secondary));
}

.header {
  height: 130px;
  background-color: var(--text);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 20%;
  height: 90%;
  padding: 20px;
  a {
    min-width: 100px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #login {
    background-color: var(--bg);
  }
  #learn-more {
    background-color: var(--light);
    color: white;
  }
}
