:root {
  --primary: #1a2ca3;
  --secondary: #0d1a63;
  --text: #fff7cd;
  --bg: #f68048;
  --light: #2845d6;
  --main-font: Arial, sans-serif;
}

body,
html {
  height: 100dvh;
  max-width: 100dvw;
}

body {
  font-family: var(--font-main);
  background: linear-gradient(180deg, var(--light), var(--secondary));
}

.header {
  height: 130px;
  background-color: var(--text);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo{
    height: 100%;
    width: 50%;
}