:root {
  --primary: #1a2ca3;
  --secondary: #0d1a63;
  --text: #fff7cd;
  --bg: #f68048;
  --light: #2845d6;
  --main-font: Arial, sans-serif;
}

html,
body {
  height: 100vh;
}

body {
  width: 100%;
  font-family: var(--main-font);
  background: linear-gradient(180deg, var(--light), var(--secondary));
}

.header {
  background-color: var(--text);
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

nav a {
  min-width: 100px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s ease;
}

#login {
  background-color: var(--bg);
}

#learn-more {
  background-color: var(--light);
  color: white;
}

nav a:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
