body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.projects-containers {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.projects {
  flex: 1;
  max-width: 320px;
  height: 420px;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.musicMatch {
  background-color: #f68048;
  color: white;
  button {
    border-radius: 10px;
    width: 100px;
    height: 30px;
    background-color: #0d1a63;
  }
}
.project-a {
  background-color: #5168da;
  color: white;
  button {
    border-radius: 10px;
    width: 150px;
    height: 30px;
    background-color: #94a3ec;
    color: rgb(86, 86, 86);
  }
}
.project-b {
  background-color: #94a3ec;
  button {
    border-radius: 10px;
    width: 150px;
    height: 30px;
    background-color: #f68048;
    color: rgb(86, 86, 86);
  }
}
.images {
  width: 300px;
  height: 230px;
  border-radius: 10px;
}
.message {
  color: white;
}
