:root {
  --primary: #1a2ca3;
  --secondary: #0d1a63;
  --head: #fff7cd;
  --bg: #f68048;
  --light: #2845d6;
  --main-font: Arial, sans-serif;
}
 main{
    display: grid;
 }
header{
    background-color: #fff7cd;
    border-radius: 10px;
}

#search{
    background-color: #2845d6;
}

#result{
    background-color: #1a2ca3;
}

