
body {
  
  display: grid;
  
}
#result{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
}



.search-container {
  background-color: rgb(174, 206, 250);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  height: 80px;
  border-radius: 10px;
}
form{
    display: flex;
    gap: 200PX;

}
.searchButton{
    background-color:rgb(91, 143, 246) ;
    padding: 12px 30px;
    color: white;
    border-radius: 10px;
    font-size: 18PX;
}
.searchButton:hover{
    background-color:rgb(137, 162, 211) ;
    cursor: pointer;
    transform: translateY(2px);
    
}
input::placeholder{
    color: #767474;
    opacity: 1;
}


.result-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}
.result-item{
  display: flex;
  justify-content:space-around;
  gap: 15px;
 border-bottom:1px solid white;
}
.result-info{
    display: flex;
    gap: 10px;
    
}
.result-img{
    height: 50px;
    width: 100px;
    border-radius: 10px;
    margin-bottom: 5px;
}
.detail-btn{
    background-color: rgb(205, 196, 165);
    width: 70px;
    height: 20px;
    border-radius: 5px;
    color: black;
    margin-left: 30px;
    padding-left: 10px;
    
    font-size: 15px;
    
    
}
.detail-btn:hover{
    cursor: pointer;
    transform: translateY(2px);
}
.ad{
  background-color: bisque;
  width: 250px;
  height: 300px;
  border-radius: 10px;
justify-items: center;

  
}


#filter-container{
  display: flex;
  margin: 30px ;
  border-bottom: 1px solid black;


}

.tracksbutton,.artistsbutton{
background-color: rgb(165, 195, 238);
border: 1px solid black;
padding: 8px 25px;
font-weight: bold;
cursor: pointer;

}
.tracksbutton{
  border-radius: 15px 0 0 ;
}
.artistsbutton{
  border-radius: 0 15px 0 0;
  
}
.active{
  background-color: white;
  box-shadow: 0 3px 6px;
}


